@charset "UTF-8";

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4F4F4F;
  line-height: 1;
  font-family: "TTHoves";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTHoves";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  padding: 0 0.9375rem;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top {
  position: relative;
  margin-bottom: 3.125rem;
}

.top__bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 13.2142857143%;
  position: absolute;
  z-index: 0;
}

.top__bg img {
  height: 100%;
  min-width: 75rem;
  width: 100%;
}

.top__container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.top__container::after {
  display: block;
  right: -26.25rem;
  margin-bottom: -3.6875rem;
  bottom: 0;
  width: 62.5rem;
  height: 34.6875rem;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/union-big.svg") no-repeat;
  background-size: contain;
}

.top__content {
  position: relative;
  color: #fff;
}

.top__content::before {
  content: "";
  position: absolute;
  background: url("../img/top/union-small.svg");
  display: block;
  width: 2.875rem;
  height: 1.625rem;
  top: 0;
  left: 0;
}

.top__title,
.top__subtitle {
  font-weight: 900;
  line-height: 1.320754717;
  text-transform: uppercase;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.top__subtitle {
  display: block;
  font-weight: 500;
}

.top__text {
  font-weight: 700;
  line-height: 1.2222222222;
  max-width: 45rem;
}

.top__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.top__more {
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  padding: 1rem 3.625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.125rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top__button {
  padding: 1rem 3.75rem;
}

.top__mouse {
  position: absolute;
  display: block;
  width: 0.9375rem;
  height: 1.5rem;
  left: 50%;
}

.top__mouse-block {
  position: relative;
  margin-top: 1.25rem;
  height: 1.5rem;
  padding-bottom: 2.75rem;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -3.6875rem;
}

.scroll-top__text_small {
  font-weight: 500;
  line-height: 1.25;
  text-align: right;
  max-width: 8.125rem;
  color: #DADADA;
  margin-right: 0.625rem;
}

.scroll-top__text_big {
  font-weight: 800;
  line-height: 0.7936507937;
  text-transform: uppercase;
  color: #E2E2E2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.trend__container {
  position: relative;
}

.trend__container::before {
  display: block;
  height: 62.5rem;
  width: 34.6875rem;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/union-big_rotate.svg") no-repeat;
  background-size: contain;
  left: -15%;
  bottom: -67%;
}

.trend__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trend__today {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
}

.trend__body-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.2307692308;
  margin-bottom: 3.125rem;
}

.trend__body-title::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  height: 1.375rem;
  content: "";
  margin-right: 0.625rem;
}

.trend__tomorrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.today-trend__title::before {
  background: url("../img/trend/icon-minus.svg") center/cover no-repeat;
}

.today-trend__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.tomorrow-trend__title::before {
  background: url("../img/trend/icon-check.svg") center/cover no-repeat;
}

.tomorrow-trend__content {
  display: inline-block;
  text-align: center;
}

.tomorrow-trend__img img {
  max-width: 100%;
}

.tomorrow-trend__web {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 32.8125rem;
}

.tomorrow-trend__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tomorrow-trend__row_2 .tomorrow-trend__icon:last-child::after {
  z-index: -2;
  content: "";
  position: absolute;
  height: 2.25rem;
  background: url("../img/trend/tomorrow-icons/line-2.svg");
  -webkit-transform: rotate(97deg);
      -ms-transform: rotate(97deg);
          transform: rotate(97deg);
  left: 48%;
  top: -80%;
}

.tomorrow-trend__row_2 .tomorrow-trend__icon:not(:last-child)::after {
  -webkit-transform: rotate(97deg);
      -ms-transform: rotate(97deg);
          transform: rotate(97deg);
  left: 48%;
  top: -80%;
}

.tomorrow-trend__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tomorrow-trend__icon-border {
  position: absolute;
  z-index: -1;
  background: url("../img/trend/tomorrow-icons/border.svg") center/cover no-repeat;
  width: 2.75rem;
  height: 2.75rem;
}

.tomorrow-trend__icon:not(:last-child)::before {
  z-index: -2;
  left: 100%;
  content: "";
  position: absolute;
  height: 0.125rem;
  background: url("../img/trend/tomorrow-icons/line-1.svg");
}

.tomorrow-trend__icon:not(:last-child)::after {
  z-index: -2;
  top: 100%;
  left: 50%;
  content: "";
  position: absolute;
  height: 2.25rem;
  background: url("../img/trend/tomorrow-icons/line-2.svg");
}

.icons-today-trend {
  position: relative;
}

.icons-today-trend_1 .icons-today-trend_white {
  left: 0;
  bottom: -30%;
}

.icons-today-trend_white {
  position: absolute;
  -webkit-filter: drop-shadow(2px 2px 10px rgba(60, 114, 193, 0.3));
          filter: drop-shadow(2px 2px 10px rgba(60, 114, 193, 0.3));
}

.icons-today-trend_border {
  position: relative;
  z-index: -1;
}

.icons-today-trend_2 .icons-today-trend_white {
  left: 10%;
  top: -10%;
}

.icons-today-trend_3 .icons-today-trend_white {
  bottom: -20%;
  right: -20%;
}

.icons-today-trend_4 .icons-today-trend_white {
  left: 35%;
  top: -10%;
}

.icons-today-trend_3,
.icons-today-trend_4 {
  margin-top: 1.875rem;
}

.icons-today-trend_3 .icons-today-trend_border,
.icons-today-trend_4 .icons-today-trend_border {
  margin-left: 6.25rem;
}

.applications__container {
  position: relative;
}

.applications__container::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  right: -45%;
  bottom: -45%;
  width: 62.5rem;
  height: 34.6875rem;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/union-big.svg") no-repeat;
  background-size: contain;
}

.applications__body {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.1875rem;
}

.applications__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.applications__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-19.14%, #00B9FF), color-stop(131.07%, #0068B5));
  background: -o-linear-gradient(top, #00B9FF -19.14%, #0068B5 131.07%);
  background: linear-gradient(180deg, #00B9FF -19.14%, #0068B5 131.07%);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5rem;
  text-align: center;
  height: 5.625rem;
  width: 17.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.applications__descr {
  font-weight: 500;
  line-height: 1.4;
}

.overlay__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.overlay__block_1 {
  height: 29.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  position: relative;
}

.overlay__block_1::after {
  top: 135px;
  content: "";
  position: absolute;
  background: url("../img/overlay/arrow-right.svg") center/cover no-repeat;
  display: block;
  width: 4.0625rem;
  height: 2.5rem;
  right: -50px;
}

.overlay__block_1._watcher-view .schedule-block-overlay__line {
  -webkit-animation: anim 3s linear;
          animation: anim 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.overlay__block_2 {
  position: relative;
  margin-top: 7.5rem;
}

.overlay__block_2::after {
  top: 20px;
  content: "";
  position: absolute;
  background: url("../img/overlay/arrow-right-big.svg") center/cover no-repeat;
  display: block;
  width: 5.9375rem;
  height: 2.5rem;
  right: -90px;
}

.overlay__block_3 {
  margin-top: 3.75rem;
  background: url("../img/overlay/items-bg.svg") center/contain no-repeat;
  width: 23.5rem;
  height: 21.625rem;
  padding: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.625rem;
  color: #fff;
}

.overlay__button {
  display: block;
  margin: 0 auto;
  padding: 1.875rem 6.5625rem;
}

.block-overlay__item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-19.14%, #00B9FF), color-stop(131.07%, #0068B5));
  background: -o-linear-gradient(top, #00B9FF -19.14%, #0068B5 131.07%);
  background: linear-gradient(180deg, #00B9FF -19.14%, #0068B5 131.07%);
  border-radius: 6px;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.2222222222;
}

.block-overlay__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-overlay__name {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.block-overlay__schedule {
  position: relative;
}

.block-overlay__text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6;
  text-transform: uppercase;
  color: #6D9EEB;
  text-align: center;
}

.schedule-block-overlay__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  text-transform: uppercase;
  background: -o-linear-gradient(0.35deg, #FF6753 0.26%, #FF8F50 99.7%);
  background: linear-gradient(89.65deg, #FF6753 0.26%, #FF8F50 99.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 135px;
  left: -200px;
}

.schedule-block-overlay__border {
  top: 3.75rem;
  z-index: 0;
  position: absolute;
}

.schedule-block-overlay__line {
  position: absolute;
  top: 65px;
  left: -58px;
  z-index: 1;
  height: 0;
  overflow: hidden;
}

.schedule-block-overlay__clouds {
  width: 13.125rem;
  position: absolute;
  -webkit-column-gap: 1.6875rem;
     -moz-column-gap: 1.6875rem;
          column-gap: 1.6875rem;
  row-gap: 1.46875rem;
  top: 184px;
  left: -14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.schedule-block-overlay__cloud-small {
  position: relative;
  z-index: 2;
}

.schedule-block-overlay__cloud-small img {
  width: 1.625rem;
  height: 1.1875rem;
}

.schedule-block-overlay__cloud-small_2 {
  z-index: 0;
}

.schedule-block-overlay__cloud-small_7 {
  z-index: 0;
}

.schedule-block-overlay__cloud-small_9 {
  z-index: 0;
  left: 1px;
}

.schedule-block-overlay__cloud-small_9 img {
  width: 1.5625rem;
}

.schedule-block-overlay__cloud-small_11 {
  z-index: 0;
}

.schedule-block-overlay__vr {
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: -1;
}

@-webkit-keyframes anim {
  0% {
    height: 0rem;
  }

  100% {
    height: 19.375rem;
  }
}

@keyframes anim {
  0% {
    height: 0rem;
  }

  100% {
    height: 19.375rem;
  }
}

.why__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
  grid-gap: 2.5rem;
}

.why__item {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 1.25rem;
  padding: 1.875rem 1.875rem 3.125rem 1.875rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5rem;
  justify-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.why__text {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.net__container {
  position: relative;
}

.net__container::after {
  display: block;
  width: 62.5rem;
  height: 34.6875rem;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/union-big.svg") no-repeat;
  background-size: contain;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  bottom: -45%;
  left: -30%;
}

.net__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.net__img-box {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
  max-width: 28.75rem;
  margin: 0 auto;
}

.net__img-box._watcher-view .net__img_line {
  -webkit-animation: anim 3s linear;
          animation: anim 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.net__img_clouds {
  padding-top: 2.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
  grid-template-columns: repeat(6, auto);
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  row-gap: 1.5625rem;
}

.net__img_line {
  position: absolute;
  top: 5.625rem;
  left: 5rem;
  overflow: hidden;
}

.server__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.server__img {
  height: 14.0625rem;
}

.server__img-al {
  position: relative;
  left: 2.1875rem;
  bottom: 5rem;
}

.server__img-al > img {
  position: relative;
  z-index: 1;
}

.server__img-electrs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  z-index: 0;
}

.server__img-electrs_top {
  top: -15px;
  left: 40px;
}

.server__img-electr {
  display: inline-block;
  position: relative;
}

.server__img-electr::after {
  border-radius: 0.5625rem;
  top: 80%;
  left: 0;
  content: "";
  position: absolute;
  height: 20%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-19.14%, #00B9FF), color-stop(131.07%, #0068B5));
  background: -o-linear-gradient(top, #00B9FF -19.14%, #0068B5 131.07%);
  background: linear-gradient(180deg, #00B9FF -19.14%, #0068B5 131.07%);
  -webkit-animation: electr 0.8s linear;
          animation: electr 0.8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.server__img-electrs_right {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 52px;
  right: 43px;
}

.server__img-electrs_bottom {
  bottom: -12px;
  left: 40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.server__img-electrs_left {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -28px;
  top: 52px;
}

@-webkit-keyframes electr {
  0% {
    top: 80%;
  }

  100% {
    top: 0;
  }
}

@keyframes electr {
  0% {
    top: 80%;
  }

  100% {
    top: 0;
  }
}

.builders__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.builders__content-right {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.builders__button {
  padding: 1rem 4.625rem;
  margin-top: 1.25rem;
}

.solutions__icon {
  position: absolute;
  z-index: -1;
}

.solutions__icon_1 {
  bottom: 4.0625rem;
}

.solutions__icon_2 {
  left: 0;
  top: 0.9375rem;
}

.solutions__icon_3 {
  right: 0;
  top: 0.625rem;
}

.solutions__icon_4 {
  bottom: 7.5rem;
}

.solutions__icon_5 {
  left: 4.375rem;
  top: 3.125rem;
}

.solutions__icon_6 {
  top: 1.875rem;
  left: 7.5rem;
}

.solutions__icon_7 {
  top: 1.5625rem;
  right: 5.625rem;
}

.solutions__icon_8 {
  right: 7.5rem;
  bottom: 7.5rem;
}

.solutions__icon_9 {
  right: 5rem;
  bottom: 6.25rem;
}

.solutions__icon_10 {
  bottom: 5rem;
  right: 7.5rem;
}

.solutions__icon_microb {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solutions__icon_microb::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  background: url("../img/solutions/icon-border.svg") center/cover no-repeat;
  display: block;
  width: 2.1875rem;
  height: 2rem;
  opacity: 0;
}

.solutions__img {
  position: relative;
}

.solutions__img img {
  max-width: 100%;
}

.team__wrapper {
  height: 100% !important;
}

.team__slide {
  text-align: center;
}

.team__title {
  font-weight: 800;
  line-height: 1;
  color: #577DB8;
}

.slide-team__img {
  margin-bottom: 1.25rem;
}

.slide-team__name {
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.slide-team__profession {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-19.14%, #00B9FF), color-stop(131.07%, #0068B5));
  background: -o-linear-gradient(top, #00B9FF -19.14%, #0068B5 131.07%);
  background: linear-gradient(180deg, #00B9FF -19.14%, #0068B5 131.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-button-prev path,
.swiper-button-next path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  padding-top: 3.125rem;
}

.form__button {
  padding-top: 1.5625rem;
  width: 7.8125rem;
  height: 2.5rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 2.3125rem;
  margin-left: auto;
}

.form__button::after {
  border-radius: 8px;
}

.form__textarea {
  max-width: 23.5625rem;
  height: 7.5rem;
  padding: 0.75rem 1.25rem;
  resize: none;
  background: #ECEBF7;
  border-radius: 8px;
  color: #577DB8;
}

.form__input {
  max-width: 23.5625rem;
  height: 2.625rem;
  padding: 0.75rem 1.25rem;
  background: #ECEBF7;
  border-radius: 8px;
  color: #577DB8;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #577DB8;
}

.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #577DB8;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #577DB8;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #577DB8;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #577DB8;
}

.contact__title {
  font-weight: 800;
  line-height: 1;
  color: #577DB8;
}

.contact__suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4F4F4F;
  margin-bottom: 1.875rem;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.25rem 2.25rem 1.6875rem 2.25rem;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 10px rgba(60, 114, 193, 0.3);
          box-shadow: 2px 2px 10px rgba(60, 114, 193, 0.3);
  border-radius: 8px;
  gap: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.125rem;
          flex: 0 0 28.125rem;
}

.contact__text {
  background: -o-linear-gradient(0.35deg, #FF6753 0.26%, #FF8F50 99.7%);
  background: linear-gradient(89.65deg, #FF6753 0.26%, #FF8F50 99.7%);
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 4.375rem 1.25rem;
}

.colonosc__title {
  font-weight: 800;
  line-height: 1;
  color: #577DB8;
  margin-bottom: 1.875rem;
}

.colonosc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colonosc__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #333333;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.875rem;
}

.colonosc__images {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.875rem;
}

.other__title {
  font-weight: 800;
  line-height: 1;
  color: #577DB8;
  margin-bottom: 1.875rem;
}

@media (min-width: 29.99875em) {
  .icons-today-trend_border {
    margin-left: 2.5rem;
  }
}

@media (min-width: 47.99875em) {
  .builders__content-right {
    margin-right: 4.375rem;
  }
}

@media (min-width: 61.99875em) {
  .top__container {
    -ms-grid-columns: 80% 20%;
    grid-template-columns: 80% 20%;
  }
}

@media (min-width: 80em) {
  .overlay__content {
    -ms-grid-columns: auto 18.75rem auto;
    grid-template-columns: auto 18.75rem auto;
  }

  .overlay__block_1 {
    margin-right: 2.5rem;
  }

  .overlay__block_2 {
    margin-right: 6.25rem;
  }
}

@media (min-width: 120em) {
  .top {
    padding-top: 13.75rem;
  }

  .top__container {
    padding-top: 12.5rem;
  }

  .top__title {
    padding-top: 3.75rem;
  }

  .top__title,
  .top__subtitle {
    font-size: 3.3125rem;
  }

  .top__subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .top__text {
    font-size: 1.125rem;
  }

  .top__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .top__actions {
    padding-bottom: 5.625rem;
  }

  .scroll-top__text_small {
    font-size: 1.5rem;
  }

  .scroll-top__text_big {
    font-size: 3.9375rem;
  }

  .trend {
    margin-bottom: 6.25rem;
  }

  .trend__body-title {
    font-size: 1.625rem;
  }

  .tomorrow-trend__img {
    margin-bottom: 2.5rem;
  }

  .tomorrow-trend__web {
    gap: 2.1875rem;
  }

  .tomorrow-trend__row {
    gap: 2.1875rem;
  }

  .tomorrow-trend__row_2 .tomorrow-trend__icon:last-child::after {
    width: 2.5rem;
  }

  .tomorrow-trend__icon:not(:last-child)::before {
    width: 2.1875rem;
  }

  .tomorrow-trend__icon:not(:last-child)::after {
    width: 2.5rem;
  }

  .applications {
    margin-bottom: 6.25rem;
  }

  .applications__row {
    gap: 3.125rem;
  }

  .applications__descr {
    font-size: 1.25rem;
  }

  .overlay {
    margin-bottom: 6.25rem;
  }

  .overlay__text {
    margin-bottom: 7.1875rem;
  }

  .overlay__button {
    margin-top: 6.25rem;
  }

  .block-overlay__name {
    font-size: 1.75rem;
  }

  .why {
    margin-bottom: 6.25rem;
  }

  .net {
    margin-bottom: 6.25rem;
  }

  .net__body {
    gap: 4.375rem;
  }

  .net__text {
    padding-top: 5rem;
  }

  .server {
    margin-bottom: 6.25rem;
  }

  .server__content {
    gap: 6.25rem;
  }

  .builders {
    margin-bottom: 6.25rem;
  }

  .solutions {
    margin-bottom: 3.125rem;
  }

  .solutions__icon_1 {
    left: -3.125rem;
  }

  .solutions__icon_4 {
    right: -1.25rem;
  }

  .team {
    margin-bottom: 4.375rem;
  }

  .team__title {
    font-size: 4rem;
  }

  .team__title {
    margin-bottom: 3.75rem;
  }

  .contact {
    margin-bottom: 5rem;
  }

  .contact__title {
    font-size: 4rem;
  }

  .contact__title {
    margin-bottom: 1.875rem;
  }

  .colonosc {
    padding-top: 10rem;
  }

  .colonosc {
    margin-bottom: 6.25rem;
  }

  .colonosc__title {
    font-size: 3.125rem;
  }

  .other {
    margin-bottom: 6.25rem;
  }

  .other__title {
    font-size: 3.125rem;
  }
}

@media (max-width: 80em) {
  .overlay__block_1::after {
    top: initial;
    right: initial;
    bottom: -60px;
    left: 43%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .overlay__block_2 {
    margin-bottom: 7.5rem;
  }

  .overlay__block_2::after {
    top: initial;
    right: initial;
    bottom: -90px;
    left: 40%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 75em) {
  .trend__container::before {
    bottom: 0;
  }
}

@media (max-width: 20em) {
  .top {
    padding-top: 6.25rem;
  }

  .top__container {
    padding-top: 6.25rem;
  }

  .top__title {
    padding-top: 1.875rem;
  }

  .top__title,
  .top__subtitle {
    font-size: 1.875rem;
  }

  .top__subtitle:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .top__text {
    font-size: 0.875rem;
  }

  .top__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .top__actions {
    padding-bottom: 1.875rem;
  }

  .scroll-top__text_small {
    font-size: 1.125rem;
  }

  .scroll-top__text_big {
    font-size: 1.875rem;
  }

  .trend {
    margin-bottom: 2.5rem;
  }

  .trend__body-title {
    font-size: 1.375rem;
  }

  .tomorrow-trend__img {
    margin-bottom: 1.25rem;
  }

  .tomorrow-trend__web {
    gap: 0.625rem;
  }

  .tomorrow-trend__row {
    gap: 0.625rem;
  }

  .tomorrow-trend__row_2 .tomorrow-trend__icon:last-child::after {
    width: 1.875rem;
  }

  .tomorrow-trend__icon:not(:last-child)::before {
    width: 1.75rem;
  }

  .tomorrow-trend__icon:not(:last-child)::after {
    width: 1.875rem;
  }

  .applications {
    margin-bottom: 2.5rem;
  }

  .applications__row {
    gap: 1.5625rem;
  }

  .applications__descr {
    font-size: 1rem;
  }

  .overlay {
    margin-bottom: 2.5rem;
  }

  .overlay__text {
    margin-bottom: 2.5rem;
  }

  .overlay__button {
    margin-top: 2.5rem;
  }

  .block-overlay__name {
    font-size: 1.25rem;
  }

  .why {
    margin-bottom: 2.5rem;
  }

  .net {
    margin-bottom: 2.5rem;
  }

  .net__body {
    gap: 1.875rem;
  }

  .net__text {
    padding-top: 1.5625rem;
  }

  .server {
    margin-bottom: 2.5rem;
  }

  .server__content {
    gap: 1.25rem;
  }

  .builders {
    margin-bottom: 2.5rem;
  }

  .solutions {
    margin-bottom: 0.625rem;
  }

  .solutions__icon_1 {
    left: 0.0000000625rem;
  }

  .solutions__icon_4 {
    right: 0.0000000625rem;
  }

  .team {
    margin-bottom: 2.5rem;
  }

  .team__title {
    font-size: 2rem;
  }

  .team__title {
    margin-bottom: 1.5625rem;
  }

  .contact {
    margin-bottom: 2.5rem;
  }

  .contact__title {
    font-size: 2rem;
  }

  .contact__title {
    margin-bottom: 0.9375rem;
  }

  .colonosc {
    padding-top: 6.25rem;
  }

  .colonosc {
    margin-bottom: 2.5rem;
  }

  .colonosc__title {
    font-size: 1.875rem;
  }

  .other {
    margin-bottom: 2.5rem;
  }

  .other__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .scroll-top {
    display: none;
  }

  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.75rem;
            flex: 0 0 23.75rem;
  }

  .colonosc__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .colonosc__image img {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .applications__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .net__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .builders__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__form {
    width: 28.125rem;
  }
}

@media (max-width: 33.125em) {
  .net__img_clouds {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    row-gap: 1.875rem;
    padding-top: 2.5rem;
  }

  .net__img_cloud-small img {
    width: 1.875rem;
  }

  .net__img_line {
    top: 4.5625rem;
    left: -0.25rem;
  }
}

@media (max-width: 29.99875em) {
  .top__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tomorrow-trend__icon {
    width: 2rem;
    height: 2rem;
  }

  .tomorrow-trend__icon img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .tomorrow-trend__icon-border {
    width: 2rem;
    height: 2rem;
  }

  .icons-today-trend_4 .icons-today-trend_white {
    left: 15%;
    top: -10%;
  }

  .icons-today-trend_3 .icons-today-trend_border,
  .icons-today-trend_4 .icons-today-trend_border {
    margin-left: 1.25rem;
  }

  .overlay__block_1::after {
    left: 40%;
  }

  .overlay__block_3 {
    padding: 2.5rem;
    width: 20rem;
  }

  .block-overlay__item {
    height: 5rem;
  }

  .block-overlay__names {
    display: none;
  }

  .schedule-block-overlay__text {
    left: -45px;
  }

  .server__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__form {
    width: 17.5rem;
  }
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (padding-top: clamp( 6.25rem , 4.75rem  +  7.5vw , 13.75rem )) {
    .top {
      padding-top: clamp( 6.25rem , 4.75rem  +  7.5vw , 13.75rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.75rem  +  7.5vw , 13.75rem )) {
    .top {
      padding-top: calc(6.25rem + 7.5 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 6.25rem , 5rem  +  6.25vw , 12.5rem )) {
    .top__container {
      padding-top: clamp( 6.25rem , 5rem  +  6.25vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5rem  +  6.25vw , 12.5rem )) {
    .top__container {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .top__title {
      padding-top: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .top__title {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5875rem  +  1.4375vw , 3.3125rem )) {
    .top__title,
    .top__subtitle {
      font-size: clamp( 1.875rem , 1.5875rem  +  1.4375vw , 3.3125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5875rem  +  1.4375vw , 3.3125rem )) {
    .top__title,
    .top__subtitle {
      font-size: calc(1.875rem + 1.4375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
    .top__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
    .top__subtitle:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem )) {
    .top__text {
      font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem )) {
    .top__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
    .top__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
    .top__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 100);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 5.625rem )) {
    .top__actions {
      padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 5.625rem )) {
    .top__actions {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
    .scroll-top__text_small {
      font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
    .scroll-top__text_small {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4625rem  +  2.0625vw , 3.9375rem )) {
    .scroll-top__text_big {
      font-size: clamp( 1.875rem , 1.4625rem  +  2.0625vw , 3.9375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4625rem  +  2.0625vw , 3.9375rem )) {
    .scroll-top__text_big {
      font-size: calc(1.875rem + 2.0625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .trend {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .trend {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.375rem , 1.325rem  +  0.25vw , 1.625rem )) {
    .trend__body-title {
      font-size: clamp( 1.375rem , 1.325rem  +  0.25vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.325rem  +  0.25vw , 1.625rem )) {
    .trend__body-title {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
    .tomorrow-trend__img {
      margin-bottom: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
    .tomorrow-trend__img {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem )) {
    .tomorrow-trend__web {
      gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem )) {
    .tomorrow-trend__web {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem )) {
    .tomorrow-trend__row {
      gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3125rem  +  1.5625vw , 2.1875rem )) {
    .tomorrow-trend__row {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 100);
    }
}

@supports (width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
    .tomorrow-trend__row_2 .tomorrow-trend__icon:last-child::after {
      width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
    .tomorrow-trend__row_2 .tomorrow-trend__icon:last-child::after {
      width: calc(1.875rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (width: clamp( 1.75rem , 1.6625rem  +  0.4375vw , 2.1875rem )) {
    .tomorrow-trend__icon:not(:last-child)::before {
      width: clamp( 1.75rem , 1.6625rem  +  0.4375vw , 2.1875rem );
    }
}

@supports not (width: clamp( 1.75rem , 1.6625rem  +  0.4375vw , 2.1875rem )) {
    .tomorrow-trend__icon:not(:last-child)::before {
      width: calc(1.75rem + 0.4375 * (100vw - 20rem) / 100);
    }
}

@supports (width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
    .tomorrow-trend__icon:not(:last-child)::after {
      width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
    .tomorrow-trend__icon:not(:last-child)::after {
      width: calc(1.875rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .applications {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .applications {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.5625rem , 1.25rem  +  1.5625vw , 3.125rem )) {
    .applications__row {
      gap: clamp( 1.5625rem , 1.25rem  +  1.5625vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.25rem  +  1.5625vw , 3.125rem )) {
    .applications__row {
      gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.25vw , 1.25rem )) {
    .applications__descr {
      font-size: clamp( 1rem , 0.95rem  +  0.25vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.25vw , 1.25rem )) {
    .applications__descr {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .overlay {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .overlay {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5625rem  +  4.6875vw , 7.1875rem )) {
    .overlay__text {
      margin-bottom: clamp( 2.5rem , 1.5625rem  +  4.6875vw , 7.1875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5625rem  +  4.6875vw , 7.1875rem )) {
    .overlay__text {
      margin-bottom: calc(2.5rem + 4.6875 * (100vw - 20rem) / 100);
    }
}

@supports (margin-top: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .overlay__button {
      margin-top: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .overlay__button {
      margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.15rem  +  0.5vw , 1.75rem )) {
    .block-overlay__name {
      font-size: clamp( 1.25rem , 1.15rem  +  0.5vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.15rem  +  0.5vw , 1.75rem )) {
    .block-overlay__name {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .why {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .why {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .net {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .net {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.875rem , 1.375rem  +  2.5vw , 4.375rem )) {
    .net__body {
      gap: clamp( 1.875rem , 1.375rem  +  2.5vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.375rem  +  2.5vw , 4.375rem )) {
    .net__body {
      gap: calc(1.875rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.875rem  +  3.4375vw , 5rem )) {
    .net__text {
      padding-top: clamp( 1.5625rem , 0.875rem  +  3.4375vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.875rem  +  3.4375vw , 5rem )) {
    .net__text {
      padding-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .server {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .server {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.25rem  +  5vw , 6.25rem )) {
    .server__content {
      gap: clamp( 1.25rem , 0.25rem  +  5vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.25rem  +  5vw , 6.25rem )) {
    .server__content {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .builders {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .builders {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .solutions {
      margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .solutions {
      margin-bottom: calc(0.625rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (left: clamp( -3.125rem , 0.625000075rem  +  -3.1250000625vw , 0.0000000625rem )) {
    .solutions__icon_1 {
      left: clamp( -3.125rem , 0.625000075rem  +  -3.1250000625vw , 0.0000000625rem );
    }
}

@supports not (left: clamp( -3.125rem , 0.625000075rem  +  -3.1250000625vw , 0.0000000625rem )) {
    .solutions__icon_1 {
      left: calc(0.0000000625rem + -3.1250000625 * (100vw - 20rem) / 100);
    }
}

@supports (right: clamp( -1.25rem , 0.250000075rem  +  -1.2500000625vw , 0.0000000625rem )) {
    .solutions__icon_4 {
      right: clamp( -1.25rem , 0.250000075rem  +  -1.2500000625vw , 0.0000000625rem );
    }
}

@supports not (right: clamp( -1.25rem , 0.250000075rem  +  -1.2500000625vw , 0.0000000625rem )) {
    .solutions__icon_4 {
      right: calc(0.0000000625rem + -1.2500000625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.125rem  +  1.875vw , 4.375rem )) {
    .team {
      margin-bottom: clamp( 2.5rem , 2.125rem  +  1.875vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.125rem  +  1.875vw , 4.375rem )) {
    .team {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem )) {
    .team__title {
      font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem )) {
    .team__title {
      font-size: calc(2rem + 2 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .team__title {
      margin-bottom: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .team__title {
      margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
    .contact {
      margin-bottom: clamp( 2.5rem , 2rem  +  2.5vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
    .contact {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem )) {
    .contact__title {
      font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6rem  +  2vw , 4rem )) {
    .contact__title {
      font-size: calc(2rem + 2 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem )) {
    .contact__title {
      margin-bottom: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem )) {
    .contact__title {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 6.25rem , 5.5rem  +  3.75vw , 10rem )) {
    .colonosc {
      padding-top: clamp( 6.25rem , 5.5rem  +  3.75vw , 10rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.5rem  +  3.75vw , 10rem )) {
    .colonosc {
      padding-top: calc(6.25rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .colonosc {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .colonosc {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .colonosc__title {
      font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .colonosc__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .other {
      margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.75rem  +  3.75vw , 6.25rem )) {
    .other {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .other__title {
      font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .other__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 100);
    }
}
}

@media (any-hover: hover) {
  .top__more:hover {
    background-color: #fff;
    color: #4F4F4F;
  }

  .tomorrow-trend__icon:hover {
    background-color: #0068B5;
  }

  .why__item:hover {
    -webkit-box-shadow: 0.625rem 0.625rem 1.5625rem #4F4F4F;
            box-shadow: 0.625rem 0.625rem 1.5625rem #4F4F4F;
  }

  .solutions__icon_microb:hover::before {
    opacity: 1;
  }

  .swiper-button-prev:hover path,
  .swiper-button-next:hover path {
    fill: #FF8F50;
  }
}